<div class="tag-page-title">
	<h3>
		<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/" title="<{$module_name}>"><{$module_name}></a> &raquo; 
		<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/list.cat.php" title="<{$smarty.const.TAG_MD_TAGS}>"><{$smarty.const.TAG_MD_TAGS}></a> &raquo; 
		<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/view.cat.php?termid=<{$tag_id}>" title="<{$tag_term}>"><{$tag_term}></a>
	</h3>
</div>

<div id="pagenav" style="padding-top: 10px; text-align: right;">
	<{$pagenav}>
</div>

<div class="tag-item-list" style="padding-top: 10px;">
<{foreach item=article from=$tag_data}>
	<div class="tag-item-categories" style="padding-top: 10px;">
		<a href="<{$xoops_url}>/modules/<{$article.dirname}>/" title="<{$article.module}>"><{$article.module}></a>
		<{foreach item=cat from=$article.category}>
		&nbsp;>>&nbsp;<a href="<{$cat.url}>"><{$cat.term}> <font style="font-size: 0.6667em;">(<{$cat.count}>)</font></a>
		<{/foreach}>
	</div>
	<div class="tag-item-title" style="padding-top: 10px;">
		<a href="<{$article.url}>" title="<{$article.title}>"><{$article.title}></a>
	</div>
	<div class="tag-item-meta" style="padding-left: 10px;">
		<a href="<{$article.userurl}>" title="<{$article.uname}>"><{$article.uname}></a> <{$article.time}><br />
		<{assign var=tagbar value=$article.tags}>
		<{include file="db:tag_bar.html"}>
	</div>
	<div class="tag-item-content">
		<{$article.content}>
	</div>

<{/foreach}>
</div>

<{if $tag_addon}>
<div class="tag-item-meta" style="padding-top: 10px;">
	<{$tag_addon.title}>:
	<{foreach item=addon from=$tag_addon.addons}> <{$addon}><{/foreach}> 
</div>
<{/if}>

<div id="pagenav" style="padding-top: 10px; text-align: left;">
	<{$pagenav}>
</div>