<h1>Categories & Tags</h1>
<table>
	<{assign var=column value=1}>
	<{foreach item=category from=$data}>
	<{if $column==1}>
	<tr>
	<{assign var=column value=2}>
	<{/if}>
	<{if $column==4}>
		<td>
			<div style="height: auto; valign: middle; text-align: center;">
				<div style="height: auto; valign: middle; text-align: left;">
					<font style="165%; font-weight: bold;"><a href="<{$category.url}>"><{$category.title}></a></font>&nbsp;<font style="85%">(<{$category.count}>)</font>
				</div>
				<div style="height: auto; valign: middle; text-align: justify;">
					<{foreach item=tag from=$category.tags}>
					<font style="69%"><a href="<{$tag.url}>" target="_blank"><{$tag.term}></a></font>;&nbsp;&nbsp;
					<{/foreach}>
				</div>
			</div>
			<{if isset($category.children) }>
			<div style="font-size: 89%; margin-left: 16px; margin-top: 6px;">
			<{foreach item=child from=$category.children}>
				<div style="height: auto; valign: middle; text-align: justify;">
					<div style="height: auto; valign: middle; text-align: left;">
						<font style="145%"><a href="<{$child.url}>"><{$child.title}></a></font>&nbsp;<font style="85%">(<{$child.count}>)</font>
					</div>
					<div style="height: auto; valign: middle; text-align: justify;">
						<{foreach item=tag from=$child.tags}>
						<font style="69%"><a href="<{$tag.url}>" target="_blank"><{$tag.term}></a></font>;&nbsp;&nbsp;
						<{/foreach}>
					</div>
				</div>
			<{/foreach}>
			</div>
			<{/if}>
		</td>
	<{assign var=column value=5}>
	<{/if}>
	<{if $column==3}>
		<td>
			<div style="height: auto; valign: middle; text-align: center;">
				<div style="height: auto; valign: middle; text-align: left;">
					<font style="165%; font-weight: bold;"><a href="<{$category.url}>"><{$category.title}></a></font>&nbsp;<font style="85%">(<{$category.count}>)</font>
				</div>
				<div style="height: auto; valign: middle; text-align: justify;">
					<{foreach item=tag from=$category.tags}>
					<font style="69%"><a href="<{$tag.url}>" target="_blank"><{$tag.term}></a></font>;&nbsp;&nbsp;
					<{/foreach}>
				</div>
			</div>
			<{if isset($category.children) }>
			<div style="font-size: 89%; margin-left: 16px; margin-top: 6px;">
			<{foreach item=child from=$category.children}>
				<div style="height: auto; valign: middle; text-align: justify;">
					<div style="height: auto; valign: middle; text-align: left;">
						<font style="145%"><a href="<{$child.url}>"><{$child.title}></a></font>&nbsp;<font style="85%">(<{$child.count}>)</font>
					</div>
					<div style="height: auto; valign: middle; text-align: justify;">
						<{foreach item=tag from=$child.tags}>
						<font style="69%"><a href="<{$tag.url}>" target="_blank"><{$tag.term}></a></font>;&nbsp;&nbsp;
						<{/foreach}>
					</div>
				</div>
			<{/foreach}>
			</div>
			<{/if}>
		</td>
	<{assign var=column value=4}>
	<{/if}>
	<{if $column==1}>
		<td>
			<div style="height: auto; valign: middle; text-align: center;">
				<div style="height: auto; valign: middle; text-align: left;">
					<font style="165%; font-weight: bold;"><a href="<{$category.url}>"><{$category.title}></a></font>&nbsp;<font style="85%">(<{$category.count}>)</font>
				</div>
				<div style="height: auto; valign: middle; text-align: justify;">
					<{foreach item=tag from=$category.tags}>
					<font style="69%"><a href="<{$tag.url}>" target="_blank"><{$tag.term}></a></font>;&nbsp;&nbsp;
					<{/foreach}>
				</div>
			</div>
			<{if isset($category.children) }>
			<div style="font-size: 89%; margin-left: 16px; margin-top: 6px;">
			<{foreach item=child from=$category.children}>
				<div style="height: auto; valign: middle; text-align: justify;">
					<div style="height: auto; valign: middle; text-align: left;">
						<font style="145%"><a href="<{$child.url}>"><{$child.title}></a></font>&nbsp;<font style="85%">(<{$child.count}>)</font>
					</div>
					<div style="height: auto; valign: middle; text-align: justify;">
						<{foreach item=tag from=$child.tags}>
						<font style="69%"><a href="<{$tag.url}>" target="_blank"><{$tag.term}></a></font>;&nbsp;&nbsp;
						<{/foreach}>
					</div>
				</div>
			<{/foreach}>
			</div>
			<{/if}>
		</td>
	<{assign var=column value=3}>
	<{/if}>
	<{if $column==5}>
	</tr>
	<{assign var=column value=1}>
	<{/if}>
	<{/foreach}>
	<{if $column<5}>
	<{php}>
		$this->_tpl_vars['columns'] = 3 - $this->_tpl_vars['column'] - 1;
	<{/php}>
	<{if $columns >= 1}>
		<td colspan="<{$columns}>">&nbsp;</td>
	<{/if}>
	</tr>
	<{/if}>
</table>